# Entornos virtuales
.venv/
venv/
env/

# Cache de Python
__pycache__/
*.py[cod]

# Configuración del editor
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
Desktop.ini

# Imágenes del dataset
dataset_processed/train/images/
dataset_processed/valid/images/
dataset_processed/test/images/